<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item
      *ngFor="let movie of movies"
      routerLink="/add-movie/{{movie.movieId}}"
    >
      <label>
        <h2>{{ movie.title }}</h2>
        <p>Rating <strong>{{ movie.rating }}/5</strong></p>
      </label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/add-movie/new">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
